.paginationLeft {
  border: 1px solid white;
  border-radius: 50%;
  /* Más ovalado que 90% */
  color: white;
  height: 45px;
  width: 45px;
  font-size: 16px;
  cursor: pointer;
  transform-origin: right center;
  background-color: transparent;
}

.paginationRight {
  border: 1px solid white;
  border-radius: 50%;
  /* Más ovalado que 90% */
  color: white;
  height: 45px;
  width: 45px;
  font-size: 16px;
  cursor: pointer;
  transform-origin: left center;
  background-color: transparent;
}

.paginationLeft:hover {
  animation: growLeft 0.3s ease forwards;

  svg {
    transform: translateX(-10px);
  }
}

.paginationLeft:not(:hover) {
  animation: shrinkLeft 0.3s ease forwards;
}

.paginationRight:hover {
  animation: growRight 0.3s ease forwards;

  svg {
    transform: translateX(10px);
  }
}

.paginationRight:not(:hover) {
  animation: shrinkRight 0.3s ease forwards;
}

@keyframes growLeft {
  0% {
    transform: scaleX(1);
    border-radius: 50%;
    background-color: transparent;
  }

  100% {
    transform: scaleX(1.5);
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #fe8306;
    border: 1px solid #fe8306;
  }
}

@keyframes shrinkLeft {
  0% {
    transform: scaleX(1.5);
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #fe8306;
    border: 1px solid #fe8306;
  }

  100% {
    transform: scaleX(1);
    border-radius: 50%;
    background-color: transparent;
  }
}

@keyframes growRight {
  0% {
    transform: scaleX(1);
    border-radius: 50%;
    background-color: transparent;
  }

  100% {
    transform: scaleX(1.5);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
    background-color: #fe8306;
    border: 1px solid #fe8306;
  }
}

@keyframes shrinkRight {
  0% {
    transform: scaleX(1.5);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
    background-color: #fe8306;
    border: 1px solid #fe8306;
  }

  100% {
    transform: scaleX(1);
    border-radius: 50%;
    background-color: transparent;
  }
}

/* arrowLeft */
.paginationLeft::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 2px;
  background-color: white;
}

.paginationLeft:hover::after {
  animation: growArrowLeft 0.3s ease forwards;
}

.paginationLeft:not(:hover)::after {
  animation: shrinkArrowLeft 0.3s ease forwards;
}

@keyframes growArrowLeft {
  0% {
    transform: scaleX(1);
    width: 0;
  }

  100% {
    transform: scaleX(1.5);
    transform: translateX(-13px);
    transform-origin: right center;
    width: 20px;
  }
}

@keyframes shrinkArrowLeft {
  0% {
    transform: scaleX(1.5);
    transform: translateX(-13px);
    transform-origin: right center;
    width: 20px;
  }

  100% {
    transform: scaleX(1);
    width: 0;
  }
}

/* arrowRight */
.paginationRight::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
}

.paginationRight:hover::after {
  animation: growArrowRight 0.3s ease forwards;
}

.paginationRight:not(:hover)::after {
  animation: shrinkArrowRight 0.3s ease forwards;
}

@keyframes growArrowRight {
  0% {
    transform: scaleX(1);
    width: 0;
  }

  100% {
    transform: scaleX(1.5);
    transform: translateX(13px);
    transform-origin: left center;
    width: 20px;
  }
}

@keyframes shrinkArrowRight {
  0% {
    transform: scaleX(1.5);
    transform: translateX(13px);
    transform-origin: left center;
    width: 20px;
  }

  100% {
    transform: scaleX(1);
    width: 0;
  }
}
